.App {
    background-color:red;
  }
  
  .App2 {
    font-size: 20px;

}
.App1 {
    background-color: lightgreen;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}